.dish {
    width: 75%;
    // height: 90vh;
    background-color: #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 150px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.358) 0px 0px 10px;
    position: relative;


    &-title {
        margin-top: 2vh;
        min-height: 9vh;
        margin-bottom: 2vh;

        h2 {
            font-weight: 500;
            color: #9d6045;
            margin-top: 50px;
        }
    }

    &-container {
        width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // margin: 0 5% 0 5%;
        .row-1 {
            margin-bottom: 5vh;
            // text-align: center;
            display: flex;
            justify-content: space-between;
            width: 90%;

            .img {
                img {
                    border-radius: 10px;
                    border: solid 1px rgb(200, 124, 18);
                    width: 30vw;
                    height: auto;
                    box-shadow: rgba(182, 169, 131, 0.9) 0px 7px 29px 0px;
                }
            }

            .ingredient {
                box-shadow: rgba(0, 0, 0, 0.7) 1.95px 1.95px 2.6px;
                border: solid 1px rgb(209, 165, 165);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                table.ingredient-table {
                    width: 90%;
                    padding: 5px;
                    border-collapse: collapse;
                    //border: 1px solid #dca57e;
                    margin-bottom: 20px;

                    th {
                        background: #ae7b26;
                        color: #ffffff;
                        text-align: left;
                        font-weight: 400;
                    }

                    td {
                        background: #d6dded;
                        text-align: left;
                    }

                    tr>td,
                    tr>th {
                        padding: 5px 5px 5px 15px;
                        line-height: 1.4;
                        vertical-align: top;
                        border-top: 1px solid #dcb07e;
                    }
                }

                .taste-table {
                    width: 90%;
                    text-align: left;
                }

                .taste-row {
                    width: 100%;
                }
            }
        }

        .row-2 {
            display: flex;
            flex-direction: column;
            min-height: 250px;
            margin-top: 50px;
            margin-bottom: 50px;
            justify-content: center;
            width: 90%;
            position: relative;

            .option {
                font-size: 1.2rem;
                box-sizing: border-box;
                width: 100%;
                display: flex;

                .dish-option {
                    display: flex;
                    flex-direction: row;
                }
            }

            .description {
                color: rgba(129, 73, 3, 1);
                font-size: 1.25rem;
                line-height: 2;
                box-shadow: rgba(0, 0, 0, 0.7) 1.95px 1.95px 2.6px;
                //border: solid 2px rgb(166, 141, 141);
                border-top: none;
                text-align: left;
                width: 100%;
                min-height: 450px;
                height: fit-content;
                padding: 30px 10px 10px 20px;
                background: #ff8b5985;

                h3 {
                    width: fit-content;
                    //background: rgba(248, 184, 131, 0.5);
                    background: #fff;
                    padding: 3px 10px;
                    color: rgba(63, 62, 62, 0.56);
                    box-shadow: rgba(0, 0, 0, 0.7) 1.95px 1.95px 2.6px;
                }
            }
        }

        .row-3 {
            width: 100%;

            &-voted {
                width: 100%;

                h2 {
                    width: 100%;
                    color: rgb(95, 82, 42);
                }
            }
        }

    }

    .chatbox-toggle {
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        width: 80px;
        height: 80px;
        background-color: var(--blue);
        color: var(--white);
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition: .2s;
    }

    .chatbox-toggle:active {
        transform: scale(0.9);
    }

    .chatbox-list-senders {
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        width: 420px;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.3);
        transform: scale(1);
        transform-origin: bottom right;
        transition: .2s;

        .chatbox-list-senders-title {
            background: var(--grey-d-1);
            padding: .75rem 1.5rem;
            text-align: center;
            color: var(--dark);
            font-weight: 600;
            font-size: 1.3rem;
            position: relative;
            display: flex;
            align-items: center;

            .ai-outline-close-icon {
                display: inline-flex;
                align-items: center;
                position: absolute;
                right: 20px;
                cursor: pointer;
                border-radius: 50%;
                padding: 5px;
                transition: all 50ms linear;

                &:hover {
                    background-color: var(--grey-d-2);
                    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .chatbox-list-senders-body {
            background-color: var(--white);
            padding: 10px;
            max-height: 300px;
            overflow-y: auto;

            .chatbox-list-senders-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 10px;
                height: 90px;
                cursor: pointer;
                padding: 0 15px;

                &:hover {
                    background: var(--grey-d-1);
                }

                .avatar {
                    background-color: #9d6045;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 30px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .username {
                    color: var(--dark);
                }
            }
        }
    }
}

@import '../OtherComponent/Comment/comment.scss'