.comment-session {
    width: 100%;
    height: auto;
    margin: 0 auto;

    .comment-box,
    .post-comment .list {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 2px #0002;

        .day {
            font-size: 12px;
        }
    }

    .post-comment {
        .list {
            width: 100%;
            margin-bottom: 12px;

            .user {
                display: flex;
                padding: 8px;
                overflow: hidden;

                &-image {
                    img {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }
            }

            .content {
                padding: 10px 40px 0 58px;
                text-align: left;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    .user-meta{
        .username {
            display: inline;
            text-transform: uppercase;
            font-weight: 500;
            width: max-content;
            text-align: left;
        }
        .day{
            margin-left: 20px;
            display: inline;
        }
    }

    .comment-box {
        padding: 10px;
        overflow: hidden;

        .image {
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        .user {
            display: flex;
            width: min-content;
        }

        textarea {
            background-color: #eee;
            width: -webkit-fill-available;
            height: 60px;
            margin: 10px 0;
            padding: 10px;
            resize: inherit;
            border-radius: 5px;
            box-shadow: 0 0 0 1px #0003;

            &:focus-visible {
                box-shadow: 0 0 0 1px #009cff;
                outline: none;
            }
        }

        .comment-submit {
            float: right;
            padding: 6px 10px;
            border: none;
            background: #009cff;
            color: #eee;
            cursor: pointer;
            border-radius: 5px;
            outline: none;
            transition: all 0.2s ease-in-out;

            &:hover {
                background: #ffffff;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 500;
                box-shadow: 0 0 0 2px #0003;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }


}