.dish-option{
    display: flex;
    flex-direction: column;
    button{
        text-align: left;
        height: 60px;
        width: 150px;
        padding-left: 20px;
        // font-weight:500 ;
        &:hover{
            background-color: #FFE4C4;
            color: rgba(129, 73, 3, 1);
            transition-duration: 0.4s;
        }
        border: none;
        border-bottom: solid 1px #eee;
        &:focus{
            outline: none;
            background-color: #ccc;
        }
    }
}