.search-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 34px;
}

label {
  /*font-family: sans-serif;*/
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  outline: none;
  height: 34px;
}

select option {
  cursor: pointer;
}

input[type="text"] {
  padding: 5px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  outline: none;
}

.search-icon {
  box-sizing: content-box;
  background-color: #24292e;
  position: relative;
  height: fit-content;
}

#search-svg-icon {
  position: absolute;
  background-color: #d4d5d7;
  box-sizing: border-box;
  height: 100%;
  width: 34px;
  padding: 5px;
}

.form-select {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-select div select {
  width: 160px;
  margin-left: 15px;
}

.form-select .orderBy {
  cursor: pointer;
}

.form-select .price {
  cursor: pointer;
}

/*=========================================================form-check=====================================================*/

.form-check {
  background: white;
  box-sizing: border-box;
  min-width: 50%;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form-check .check-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-check .check-list-item .container-checkbox {
  position: relative;
  padding-left: 35px;
  /*margin-bottom: 12px;*/
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 200px;
  height: 27px;
  line-height: 27px;
  display: block;
}

.form-check .check-list-item .check-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 27px;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-check .more-icon {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: rgb(230, 226, 226);
}

.form-check .more-icon:hover {
  color: #ffffff;
  background: #959da5;
  transition: all 0.4s ease;
}

.form-check .more-icon:active {
  color: #928680;
}

.form-check .more-icon {
  margin-top: 15px;
}

/*======================================================btn-search=============================================================*/

.btn-search {
  margin-top: 15px;
  margin-left: 190px;
  margin-right: 190px;
  /*width: 50%;*/
  display: flex;
  justify-content: center;
}

.btn-search button {
  margin-right: 55px;
  cursor: pointer;
  border: none;
  width: 150px;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4::-webkit-details-marker {
  display: none;
}

.recipes-card {
  width: 100%;
  margin-top: 100px;
}

@media screen and (max-width: 1170px) {
  .search-filter-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .search-icon {
    background: #f1eded;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .form-select {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    position: relative;
  }

  .form-select #filter-icon {
    position: absolute;
    left: -70px;
    color: #928680;
  }

  .form-select div {
    display: flex;
    box-sizing: content-box;
  }

  .form-select div select {
    width: 100%;
    margin: 0;
    border-radius: 3px;
  }
}
