.swal-modal {
    width: 450px;
    height: 400px;
    border: 3px solid white;
    border-radius: 10px;
}

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #3e3531;
}

.swal-footer {
    text-align: center;
}